.bolo {
    
    width: 7%; 
    height: 50%;
    background-color: black;
   position: center;
   padding: 0,5%;
   margin: 1%;
   position: relative;
   left: 5%;
   list-style-type: none;
   border-bottom-style:hidden;
   color: blanchedalmond;
   font-size: 130%;
   opacity: 30%;
 }
 .nobolo {
    
   width: 5%; 
   height: 60%;
   background-color: black;
   position: center;
   padding: 0,5%;
   margin: 1%;
   position: relative;
   left: 5%;
   list-style-type: none;
   border-bottom-style:hidden;
   color: blanchedalmond;
   font-size: 130%;
   opacity: 30%;
}
 a {
    
    /* width: 10%; */
    /* height: 100%; */
    position: center;
    padding: 0,5%;
    padding-right: 15%;
    margin: 1%;
    position: relative;
    left: 5%;
    font-family:'Times New Roman', Times, serif;
    font-size: 50%;
    color: rgb(71, 38, 23);
    
 }
 label{
   float: left; 
   width: 30%;
   height: 50%;
   text-align: right;
   color: rgb(71, 38, 23);
   font-family:'Times New Roman', Times, serif;
   font-size: 200%;
   opacity: unset;
   position: relative;    

 }

 .divSup{
    list-style-type: none;
    background-color:rgb(255, 255, 255);
    width: 25%;   
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 5%;
    padding-right: 10%;

    

}

 form{
   list-style-type: none;
    width: 100%; 
    height: 100%;
   }

   li{
      color: rgb(236, 6, 6);
      font-family:'Courier New', Courier, monospace;
      padding-left: 10%;
      font-size: 200%;
      height: 10%;
   }

.divInf{
   background-color:rgb(177, 43, 43);
   background-image: url("img/inf.png");
   background-size: 100%;
   width: 50%;   
   height: 15%;
   margin-top: 5%;
   margin-left: 25%;
}

#repo-Form{
   margin-top: 5%;
   list-style-type: none;
}

